*{
    font-family: 'Roboto Mono', monospace;
}

a {
    color: black
}

#descripcion{
    text-align: justify;
    padding: 50px;
    margin-top: 0px;
    background: white;
}
#descripcion p{
    font-size: 13px;
}

#sub-bar-nav div div{
    text-align: center;
    padding: 100px;
}
#sub-bar-nav div div{
    font-size-adjust: initial;
    font-variant-caps: all-small-caps;
}
.img{
    background-size: cover;
    background-position: center center;
    height: 500px;
}
#ultimo p{
    text-align: center;
    padding: 60px;
    margin-top: 200px;
    background: white;
    font-size: 10px;
}
#formulario{
    text-align: end;
    padding: 0px;
    margin-top: 0px;
    background: white;
}
#dformulario p{
    font-size: 15px;
}
.boton a:hover{
    color: white;
    background:black;
    text-decoration-line: none;
}
#nav3{
    position: fixed;
    z-index: 1;
    background: white;
    width: 100%;
    height: 100px;
}
#nav3 ul{
    position: absolute;
    list-style-type: none;
    padding-top: 50px;
    top: 0px;
    left: 47.8vw;
    transform: translate(-50%,0);
}
#nav3 li{
    display: inline;
    text-align: center;
    text-decoration-line: none;
}
#nav3 a{
    text-decoration: none;
}
#copyright{
font-size: 10px;
}







@media (min-width: 1200px) {
    .menu-baja{
        display: none;
    }
}
@media (max-width:1199px) and (min-width:992px){
    .menu-baja{
        display: none;
    }
}
@media (max-width:991px) and (min-width:768px){
    .menu-baja{
        display: none;
    }
}
@media (max-width:767px){
    .menu{
        display: none;
    }
    .menu-baja p{
        text-align: right;
    }
}
